:root {

	--c-light: #fff;
	--text-black: #000;
	--accent-light: #E6D5C1;
	--accent-dark: #cc9b7c;
	--accent-dark-transparent: rgba(204, 155, 124, .5);
	--text-dark: #020202;
	--c-main: #380017;
	--text-c-medium: #412E36;
	--c-dark: #21000D;

}

