.counters {
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
    margin-bottom: clamp(100px, 12.5vw, 200px);
}

.counters__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 20px;
    margin-bottom: clamp(23px, 7vw, 100px);
}
.counters__item {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.counters__item-text {
font-size: clamp(40px, 6.3vw, 100px);
line-height: 90%; 

}
.counters__item-text--sup {
font-size: clamp(16px, 1.8vw, 28px);
line-height: 125%; 
}
// .counters__item-value {

// }
.counters__item-description {
    color: var(--text-c-medium);
font-size: clamp(12px, 1.7vw, 28px);
line-height: 125%;
max-width: 365px; 
}
.counters__button {
    max-width: clamp(304px, 30vw, 493px);
    width: 100%;
}

@media (max-width: 769px) {
    .counters__list {
        grid-template-columns: 1fr;
        width: 100%;
        gap: 0;
    }
    .counters__item {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;  
        padding: 20px 0;      
    }
    .counters__item:not(:last-child) { 
        border-bottom: 1px solid var(--accent-light);
    }
    .counters__item-text {
    font-size: clamp(40px, 6.3vw, 100px);
    line-height: 90%; 
    
    
    }
    .counters__item-text--sup {
    font-size: clamp(16px, 1.8vw, 28px);
    line-height: 125%; 
    }
}

@media (max-width: 468px) {
    .counters__item-description {
    max-width: 137px; 
    }
}

// max-width: clamp(137px, 23vw, 365px); 