.disabled-link {
    pointer-events: none;
}

.disabled-link.link::before {
    width: 100%
}

.disabled-link.footer__link {
    color: var(--c-light);
}

// класс неактивного линка добавляетс через скрипт navlinkDeactivated.js
