.footer {
    background-color: var(--c-dark);
    color: var(--accent-light);
    padding-top: 13px;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.footer__logo {
    display: inline-block;
    width: clamp(214px, 20vw, 315px);
    height: auto;
    margin-bottom: clamp(40px, 4vw, 60px);
}

// ------------------- стили ссылок блока -------------------

.footer__link {
    color: var(--accent-light);
    transition: color .3s ease-in;
    &:hover,
    &:active  {
        color: var(--c-light);
        transition: color .3s ease-out;
    }
}

// ------------------- блок контактов -------------------

.footer__contacts {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
}

.footer__contacts-button {
    padding: 15px clamp(33px, 4.2vw, 66px);
    margin-bottom: 40px;
    min-width: 302px;
}

.footer__contacts-links {
    display: flex;
    flex-direction: column;
}

.footer__contacts-link {
    color: inherit;
    font-size: clamp(16px, 4vw, 28px);
    line-height: 125%;
    transition: color .3s ease;
    margin-bottom: 10px;
}

.footer__contacts-social-list {
    display: flex;
    gap: clamp(12px, 1.5vw, 20px);
    margin-bottom: 35px;
}

.footer__contacts-social-list svg {
    fill: var(--c-light);
    transition: fill .3s ease;
}

.footer__contacts-social-list svg:hover {
    fill: var(--accent-light);
}

// ------------------- блок навигации -------------------

.footer__nav {
    grid-column: 3 / 4;
}

.footer__nav-item {
    margin-bottom: 10px;
}

.footer__nav-link {
    font-size: 16px;
    line-height: 140%;
}

// ------------------- блок информации -------------------
.footer__info {
    grid-column: 4 / -1;
}

.footer__info-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 20px;
}


// ------------------- блок сабфутер -------------------
.footer__subnote {
    background-color: var(--text-dark);
}

.footer__subnote-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer__subnote-item {
    padding: 20px 0;
}

.footer__subnote-item:first-child {
    grid-column: 1 / 2;
}

.footer__subnote-item:nth-child(2) {
    grid-column: 3 / 4;
}

.footer__subnote-item:last-child {
    grid-column: 4 / -1;
}

@media (max-width: 768px) {

    .footer__logo {
        display: flex;
        justify-content: center;
        margin: 0 auto 40px auto;
        min-width: 67vw;
        max-width: 355px;
    }

    .footer__grid,
    .footer__subnote-list {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .footer__link {
        color: var(--c-light);
        transition: color .3s ease-in;
        &:hover  {
        color: var(--accent-light);
            transition: color .3s ease-out;
        }
    }

    .footer__contacts-list,
    .footer__nav,
    .footer__info,
    .footer__subnote-item:first-child,
    .footer__subnote-item:nth-child(2),
    .footer__subnote-item:last-child {
        grid-column: 1 / -1;
    }

    .footer__contacts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer__contacts-button {
        order: 1;
    }

    .footer__contacts-links {
        margin-bottom: 20px;
    }
    .footer__nav {
        margin-bottom: 60px;
    }
    .footer__nav-item {
        text-align: center;
        margin-bottom: 10px;
    }


    .footer__info {
        max-width: 90%;
        margin-bottom: 60px;
    }

    .footer__info-text {
        text-align: center;
        font-size: 14px;
    }

    .footer__subnote-list {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }

    .footer__subnote-item {
        padding: 0;
        font-size: 12px;
    }
    .footer__subnote-item:first-child {
        order: 3;
        padding: 5px 0;
        font-size: 14px;
    }
    .footer__subnote-item:nth-child(2) {
        order: 1;
        margin-bottom: 5px;
    }
    .footer__subnote-item:last-child {
        order: 2;
        margin-bottom: 20px;
    }
    .footer__subnote-link {
        color: var(--accent-light);
        &:hover {
            color: var(--c-light);
        }
    }
}
